/* Global styles
------------------------------------*/
/* border box fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
a {
    color: #EF233C;
}
a:hover {
    text-decoration: none;
}
h1, h2 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 15px;
}
.content-wrap {
  /*max-width: 980px;*/
  margin: 0 auto;
  padding: 50px;
  padding-left: 3%;
  padding-right: 4%;
  overflow: hidden;
}

.column-narrow {
  width: 35%;
  float: left;
  padding-right: 3%;
  min-height: 175px;
}
.column-wide {
  width: 62%;
  float: left;
  min-height: 175px;
  padding-bottom: 4%;
}



/* Header & Footer
------------------------------------*/
header{
  background: #1A237E;
  color: #8D99AE;
}

footer {
  background: #303F9F;
  color: #8D99AE;
}


header h1,
header h2 {
    color: #EDF2F4;
    margin: 0;
}

/* Header styles only */
header {
  /*text-align: center;*/
}
.profile-img {
  width: 320px;
  border-radius: 20px;
  padding: 0;
  clip: rect(0px,60px,200px,0px);
  /*float: left;*/
  margin-right: 30px;
}

.description-text {
  width: 100%;
  /*margin-right: 20%;*/
}

/* Footer styles only */
footer {
  text-align: center;
}
.contact-info {
  color: red;
  padding: 10px;
  display: inline-block;
}



/* Work Experience
------------------------------------*/
.work {
    background: #EDF2F4;
}

d


/* Education
------------------------------------*/
.education {
    background: #8D99AE;
}
